@import "_reset";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #3E4056;
    margin: 0 auto;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    filter: drop-shadow(0 12px 12px rgba(0, 0, 0, 0.06));
	height: 112px;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

.header-top {
	display: flex;
	justify-content: space-between;
		&__logo {
			padding: 24px 0;
		}

		&__items {
			display: flex;
			align-items: center;
		}

		&__avatar {
			margin: 0 20px 0 17px;
			display: flex;
			align-items: center;
			img {
				margin: 0 6px;
			}
			img:last-child {
				margin: 0;
			}
		}
}
.header-nav {
	display: flex;
}

.header-nav__link {
	text-decoration: none;
	color: #8B8C9A;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin: 0 36.5px 0 0;
	line-height: 100%;
	&:last-child {
		margin: 0;
	}
}

.header-nav__link:hover {
	color: #3E4056;
	&:after {
		content: " ";
		display: block;
		width: 34px;
		height: 4px;
		background: linear-gradient(#FFB44F, #E32C75);
		margin: 19px 0 0 0;
	}
}

.add {
	position: absolute;
	right: 10px;
	top: 81px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: linear-gradient(#FFB44F, #E32C75);
	display: flex;
	justify-content: center;
	align-items: center;

}

main {
	background-color: #F7F9FC;
}

.main-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 40px 0 246px 0;
	
}

.left-side {
	flex: 33.333%;
}

.user {
	display: flex;
	flex-direction: column;
	max-width: 395px;

	&__row {
		display: flex;
		flex-direction: column;
	}

	&__column {
		display: flex;
		flex-direction: row;
	}

	&__item {
		margin: 0 25px 0 0;
		&last-child {
			margin: 0;
		}
	}

	&__name {
		max-width: 145px;
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		font-weight: 600;
		line-height: 26px;
	}

	&__nickname {
		line-height: 20px;
		letter-spacing: -0.5px;
		margin: 8px 0 16px 0;
	}

	&__profile {
		display: flex;
		align-items: center;
		a {
			color: #F05D63;
			margin: 0 0 0 8px;
		}
	}

	&__option {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		width: 176px;
		height: 124px;
		background-color: #FFF;
		opacity: 0;
		visibility: hidden;
		border-radius: 8px;
		margin: 20px 0 0 0;
		filter: drop-shadow(0 24px 24px rgba(0, 0, 0, 0.12));
			.option:hover {
				background-color: #ECF1F8;
			}	

	}
	.option {
		line-height: 38px;
		display: flex;
		align-items: center;
		text-transform: capitalize;
		padding: 0 25px;
		font-weight: 600;
		span {
			margin: 0 0 0 10px;
		}		
	}

	&__menu {
		&.active + .user__option{
				opacity: 1;
				visibility: visible;
		}
	}

	&__activity {
		display: flex;
		justify-content: flex-start;
		margin: 0 0 24px 0;
	}

}

.activity {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 48px 0 0;
	&:last-child {
		margin: 0;
	}
	.number{
		font-weight: 700;
		line-height: 24px;
	}
}

.user-text {
	padding: 0 48px 0 0;
	line-height: 24px;
}

.rigth-side {
	display: flex;
	flex-direction: column;
	flex: 66.667%;
	justify-content: flex-start;
}

.status-switcher {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 202px;
	margin: 0 0 62px -20px;
	.public {
		margin:0 -22px 0 36px;
	}
	span {
		text-transform: capitalize;
		font-weight: 600;
	}
}

input[type=checkbox] {
	width: 0;
	height: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	width: 40px;
	height: 24px;
	background: #CCC;
	display: block;
	border-radius: 12px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 3px;
		left: 3px;
		width: 18px;
		height: 18px;
		background-color: #FFF;
		border-radius: 50%;
		transition: .3s;
	}
}

input:checked + label {
	background-color: #ED5267;
	&:after{
		right: calc(100%-5px);
		transform: translateX(90%);
	}
}

.msg-row {
	display: flex;
	flex-direction: row;
	max-width: 770px;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin: -12px;
}
.msg-item {
	max-width: 374px;
	max-height: 280px;
	flex: 0 1 40%;
	padding: 12px;
	padding: 24px 24px 27px 24px;
	background-color: #FFF;
	margin: 12px;
	display: flex;
	flex-direction: column;
	&:nth-child(even) {
		margin: 12px 0 12px 12px;
	}

		&__text {
			font-family: 'Montserrat', sans-serif;
			font-size: 36px;
		}

		&__footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 46px 0 0 0;
		}

		&__author {
			display: flex;
			align-items: center;
			& span {
				margin: 0 0 0 8px;
			}
		}

		&__action {
			display: flex;
			align-items: center;
		}

		&__action-red {
			color: #F05D63;
			text-transform: capitalize;
		}

		&__views {
			display: flex;
			justify-content: space-between;
			margin: 0 16px 0 0;
			& svg {
				margin: 0 8px 0 0;
			} 
		}
	
		&__likes {
			display: flex;
			justify-content: space-between;
			& svg {
				padding: 1px 0 0 0;
				margin: 0 8px 0 0;
			} 
		}

		&__send {
			margin: 0 0 8px 0;
			font-weight: 500;

			&.link{
				display: flex;
				align-items: center;				
			}
			& .hashtag {
				background-color: #ECF1F8;
				border-radius: 6px;
				line-height: 16px;
				font-size: 15px;
			}
		}
}
.no-link {
	padding: 56px 24px 27px 24px;
}

@media (max-width: 1160px) {
	.msg-row {
		justify-content: center;
	}
	.msg-item {
		flex: 0 0 100%;
		&:nth-child(even) {
			margin: 12px;
		}
	}
}

@media (max-width: 850px) {
	.main-wrapper {
		flex-direction: column;
		align-items: center;
		padding: 40px 0 40px 0;

	}
	.rigth-side {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 100%;
	}

	.status-switcher {
		margin: 20px
	}
		& input[type=checkbox] {
			margin-left: 20px;
		}
		& label {
			margin: 0 15px;
		}
}

@media (max-width: 650px) {
	.header {
		height: 280px;
	}
	
	.header-top {
		flex-direction: column;
		align-items: center;
		&__avatar {
			order: 1;
		}
		&__link {
			order: 3;
		}
		&__items {
			flex-direction: column;
			& span {
				order: 2;
				margin: 10px 0;
			} 
		}
	}	
	.header-nav {
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		margin: 10px 0 0 0;
		&__link {
			flex: 100%;
			margin: 5px 0;
			font-size: 20px;
			&:last-child {
				margin: 5px 0;
			}
			&:hover {
				&:after {
					display: none;
				}
			}	
		}
	}
	.add {
		left: 20px;
		top: 250px;

	}
	.main-wrapper {
		padding: 80px 0;
	}
}
	

@media (max-width: 320px) {
	.wrapper {
		margin: 0 auto;
	}	
	.user__column {
		flex-direction: column;
		align-items: center;
		text-align: center;
		position: relative;
	}

	.user__profile {
		margin: 0 0 10px 0;
	}
	.dropdown {
		position: absolute;
		top: 185px;
		left: 40%;
	}
	.user__activity {
		justify-content: center;
	}

	.user-text {
		margin: 0 0 0 50px;
		text-align: center;
	}
	.msg-item {
		flex: 80%;
	}
	.hashtag {
		margin: 30px 0 0 0;
	}
} 