*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #737373;
}

header {
    max-width: 1280px;
    width: 100%;
    height: 600px;
    display: block;
    background: url(../img/hero-bg.png) no-repeat center;
    color: #ffffff;
    margin: 0 0 130px 0;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0 0 0;
    position: relative;
}

a.header__logo:hover {
    border-bottom: 1px solid #ffffff;
}

.header__logo img {
    max-width: 100%;
}

.header__nav {
    position: relative;
}

.header__nav ul {
    display: flex;
    align-items: center;
}

.header__nav li {
    list-style: none;
}

.header__nav li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .04em;
    margin: 0 0 0 20px;
}

.header__nav li a:hover {
    border-bottom: 1px solid #ffffff;
} 

.header__burger {
    display: none;
}

.phone__btn {
    width: 139px;
    height: 38px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    background-color: #00a1eb;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 0 0 10px;
}

.number {
    padding: 3px 0;
}

.number:hover {
    border-bottom: 1px solid #ffffff;
}

.header__headline {
    display: block;
    margin: 188px 0 251px 0;
    text-align: center;
} 

.header__title h1{
    font-size: 79px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .16em;
}

.header__subtitle {
    font-family: 'Hind';
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.16em;
    padding: 30px 0 0 0;
}

/* about section  */

.about { 
    width: 100%;
    margin: 0 0 179px 0;
}

.about__container {
    display: flex;
    justify-content: space-between;
}

.about__caption {
    flex: 0 0 39.91%;
}

.title {
    font-size: 34px;
    font-weight: 700;
    color: #00a1eb;
    position: relative;
    height: 58px;
    display: inline-block;
    margin: 0 0 16px 0;
}

.title:after {
    content: '';
    width: 81px;
    height: 1px;
    background-color: #a1a1a1;
    position: absolute;
}

.caption__title:after {
    bottom: 0;
    left: 0;
}

.caption__title {
    line-height: 0.8;
}

.caption__phone {
    font-size: 22px;
    font-weight: bold;
    color: #00a1eb;
    margin: 20px 0 31px 0;
}

.btn {
    width: 152px;
    height: 60px;
    background-color: #00a1eb;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.07;
    padding: 16px 22px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffffff;
    color: #00a1eb;
    border: 1px solid #00a1eb;
    padding: 15px 21px;
}

.about__image {
    padding: 0;
    flex: 0 0 51.28%;
    position: relative; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.about__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.image__caption {
    position: absolute;
    padding: 38px;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

/* products section  */

.products {
    width: 100%;
    margin: 0 0 102px 0;
}

.products__title {
    display: block;
    text-align: center;
}

.products__title:after {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.products__text {
    display: block;
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 9px 0 16px 0;
}

.slider__container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    height: 300px;
    margin: 0 0 0 25px;
}

.slider__container .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 9px;
    height: 20px;
    margin: -30px 0 0 0;
}

.slider__container .slick-arrow.slick-prev {
    left: -50px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1px solid #00a1eb;
    outline: none;
    background: url(../img/left-arrow.png) no-repeat center;
}

.slider__container .slick-arrow.slick-next {
    right: 0;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1px solid #00a1eb;
    outline: none;
    background: url(../img/right-arrow.png) no-repeat center;
}

.slider__item {
    position: relative;
    margin: 0 0 57px 0;
}

.item__caption {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}
.item__name { 
    max-width: 179px;
    font-size: 20px;
    font-weight: 700;
}
.item__price {
    font-size: 24px;
    margin: 10px 0 7px 0;
}
.item__btn {
    width: 95px;
    height: 37px;
    background-color: #ffffff;
    color: #00a1eb;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 1.07;
    cursor: pointer;
    border: none;
    outline: none;
    display: none;
}
.item__btn:hover {
    background-color: #00a1eb;
    color: #ffffff;
}

.slider__item:hover .item__btn {
    display: block;
    margin: 0 auto;
}

.products .btn {
    display: block;
    margin: 57px auto;
}

/* services section  */

.services {
    width: 100%;
    margin: 0 0 92px 0;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__item {
    max-width: 368px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 32px 65px 0;
}

.services__item:last-child {
    margin: 0 0 65px 0;
}

.main-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #00a1eb;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
} 

.main-img img {
    max-width: 100%;
}

.image__wrap {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 5px solid #00a1eb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
}

.services__item:hover .image__wrap {
    z-index: 5;
}

.services__title {
    margin: 34px 0 22px 0;
    color: #00a1eb;
    font-size: 24px;
    font-weight: 700;
    display: block;
    text-align: center;
    position: relative;
    padding: 0 0 26px 0 ;
}

.services__title:after {
    content: '';
    width: 81px;
    height: 1px;
    background-color: #a1a1a1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services__text {
    margin: 0 -3px;
    text-align: center;
}


.services .btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 1.07;
}

/* contacts section  */

.contacts {
    width: 100%;
}

.contacts__container {
    display: flex;
    justify-content: space-between;
}


.contacts__image {
    position: relative;
    clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
    z-index: 5;
}

.contacts__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts__image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(46,178,239, 0.8);
    z-index: 1;
}

.contacts__image:hover:before{
    opacity: 0;
}

.contacts__caption {
    background-color: rgba(46,178,239, 0.8); 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 14.9% 100%);
    margin: 0 0 0 -100px;
    padding: 130px 57px 140px 100px;
    position: relative;
    z-index: 3;
    text-align: right;

}
.contacts-title {
    color: #ffffff;
    position: relative;
}

.contacts-title:after {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
}

.contacts__text {
    max-width: 517px;
    margin: 26px 0 37px 0;
    padding-left: 20px
}

.contacts__text p {
    color: #ffffff;
}

.contacts__btn {
    width: 105px;
    height: 41px;
    background-color: #ffffff;
    color: #2eb2ef;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}

.contacts__btn:hover {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;

}   

footer {
    width: 100%;
}

.footer__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 56px 0 73px 0;
}

.nav__item {
    max-width: 270px;
    width: 25%;    
}

.nav__title {
    font-family: 'Hind', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #737373;
    margin: 0 0 30px 0;
}

.item__links {
    display: flex;
    flex-direction: column;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    color: #737373;
    line-height: 1.86;
}

.item__links a {
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    color: #737373;
    text-decoration: none;
    line-height: 1.86;
}

.footer__bottom {
    width: 100%;
    background-color: #282828;
}

.content-wrap {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 14px;
    padding: 54px 0;
}
.atrribution {
    color: #282828;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .header__row {
        padding: 30px;
    }

    .image__wrap {
        margin-left: -16.5px;
    }
}

@media screen and (max-width: 375px) {
    .header__row {
        padding: 30px;
    }

    .image__wrap {
        margin: 0;
    }
}

@media screen and (max-width: 425px) {

    body {
        padding: 10px;
    }

    .header__row {
        padding: 30px;
    }

    .slider__container {
        max-width: 300px;
        margin: 0 auto;
    }

    .header__title h1 {
        font-size: 60px;
    }
}


@media screen and (max-width: 768px) {
    .header__row {
        padding: 30px;
    }

    .nav__item {
        width: 48%;
        margin: 20px 0 0 0; 
        padding-right: 20px;
    }
    .footer__top {
        flex-wrap: wrap;
        margin: 56px 0 73px 60px;
    }

}

/* burger menu  */

@media screen and (max-width: 1024px) {

    body.lock {
        overflow: hidden;
    }

    .header__logo {
        width: 50%;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        top: -5px;
        right: 0;
    }

    .header__burger:before, 
    .header__burger:after  {
        content: '';
        width: 100%;
        height: 3px;
        background-color:#ffffff;
        position: absolute;
        left: 0;
    }
    
    .header__burger:before {
        top: 0;
    }
    
    .header__burger:after {
        bottom: 0;
    }
    
    .header__burger span {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        top: 8px;
        left: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: cadetblue;
        padding: 70px 10px 20px 10px;
        transition: all .3s ease 0s;
    }

    .header__nav.active {
        top: 0;
    }

    .header__nav ul {
        display: block;
        padding: 0;
    }

    .header__nav ul li {
        margin: 0 0 20px 0;
    }
}
/* burger menu ends  */