/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;	
}

/* h1, h2, h3, h4, h5, h6 {
	line-height: 1;
} */

html {
    font-size: 62.5%; /*(10px*100%)/16px=62.5% for using rem units in this case 1 rem = 10 px*/ 
}

body {
	box-sizing: border-box;
    line-height: 1;
}
ol, li, ul { 
	padding-left: 0;
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

button, button:active, button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuebold';
    src: url('fonts/bebasneue-bold-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* конец кода сброса стилей браузера */

/* font-family: 'Alfa Slab One', cursive; */


/* header part  */

body {
    max-width: 144rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #3d2514;
}

header {
    max-width: 144rem;
    width: 100%;
    height: auto;
    background: url(img/hero-bg3.png) no-repeat center;
}

.content-wrap {
    max-width: 132.6rem;
    width: 100%;
    margin: 0 auto;
}

.delivery {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
}

.delivery span {
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /* color: #3d2514; */
    line-height: 7.1rem;
    margin-left: 1rem;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    max-width: 47.8rem;
    width: 100%;
    display: block; 
}

.nav-bar li {
    display: inline-block;
    margin-right: 5rem;
}

.nav-bar li:last-child {
    margin-right: 0;
}

.nav-bar li a {
    font-family: 'bebas_neuebold', sans-serif;
    text-transform: uppercase;
    font-size: 2.1rem;
    letter-spacing: .2rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8.1rem;
}

.hero-caption {
    max-width: 52.8rem;
    width: 45%;
}

.hero-quote {
    display: block;
    max-width: 40.4rem;
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-transform: uppercase;
    border: 2px #3d2514 dashed;
    text-align: center;
    margin-top: 17.5rem;
}

.hero-caption h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 11.4rem;
    text-transform: uppercase;
    text-shadow: .4rem .5rem #fee8bc;
}

.hero-caption span {
    font-family: 'Alfa Slab One', cursive;
    font-size: 5.6rem;
    text-transform: uppercase;
    text-shadow: .4rem .5rem #fee8bc;
    line-height: 1.09;
}

.hero-image {
    max-width: 63.3rem;
    height: auto;
    width: 45%;
    margin-top: 7.8rem;
    margin-left: 21rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.special {
    position: absolute;
    top: 36.2rem;
    left: -5.1rem;
    z-index: 2;
}

/* try it part  */

.try-it {
    width: 100%;
    margin-top: 7.9rem;
    margin-bottom: 7.1rem;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-left: 10.9rem;
    margin-right: 9.7rem;
}

.options p {
    font-family: 'bebas_neueregular', sans-serif;
    color: #ffffff;
    padding-left: 2.4rem;
}

.try {
    font-size: 2.5rem;
    line-height: 1.5;
    padding-top: 3.1rem;
}

.fun-taste .offer {
    max-width: 15.4rem;
    width: 100%;
}

.offer {
    font-size: 4.2rem;
    line-height: 0.9;
}

.popular {
    max-width: 59.6rem;
    width: 100%;
    height: 42rem;
    border: none;
    border-radius: .6rem;
    background: url(img/try-it-big.png) no-repeat center;
}

.small {
    max-width: 59.6rem;
    width: 100%;
    height: 42rem;
    border: none;
    margin-left: 4.2rem; 
}

.fun-taste, .fresh-chili {
    max-width: 59.6rem;
    width: 100%;
    height: 19.2rem;
    border: none;
    border-radius: .6rem;
} 

.fun-taste {
    background: url(img/try-it-2.png) no-repeat center;
    margin-bottom: 3.5rem;
}

.fresh-chili {
    background: url(img/try-it-3.png) no-repeat center;
}

/* choise part  */

.choise {
    max-width: 144rem;
    width: 100%;
    height: auto;
    margin-bottom: 15.6rem;
}

.choise-caption {
    max-width: 110.5rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.choise-subtitle {
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    text-transform: uppercase;
    background-color: #ffc045;
    max-width: 21.8rem;
    margin: 0 auto;
} 

.choise-caption h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 5rem;
    text-transform: uppercase;
    margin-top: 3.9rem;
    margin-bottom: 3.1rem;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    line-height: 1.7;
    margin-bottom: 5.47rem;
}

.choise-option {
    max-width: 132rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;   
}

.option-card img {
    max-width: 35rem;
    width: 100%;
    height: auto;
}

.card-caption {
    max-width: 36.8rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.option-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    line-height: 1.2;
    margin: 2.3rem 0;
}

.card-title {
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 3.8rem;
    text-transform: uppercase;
}

.order-btn {
    max-width: 19.5rem;
    width: 100%;
    height: 5.7rem;
    background-color: #bf2222;
    border: none;
}

.order-btn a {
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #ffffff;
}

/* discover part  */

.discover {
    max-width: 137.9rem;
    width: 95%;
    height: auto;
    margin: 0 auto;
    -webkit-box-shadow: 23px 20px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    23px 20px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         23px 20px 30px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 6.4rem;
}

.discover-caption {
    max-width: 53.1rem;
    width: 100%;
    height: auto;
}

.caption-subtitle {
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 2.9rem;
    line-height: 1.6;
    color: #3d3d3d;
    text-transform: uppercase;
}

.caption-title {
    font-family: 'Alfa Slab One', cursive; 
    font-size: 4.2rem;
    line-height: 1.1;
    text-transform: uppercase;
}

.caption-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    line-height: 1.6;
    color: #3d3d3d;
    margin-right: 2.2rem;
    margin-top: 4.35rem;
}

.discover-image {
    max-width: 65.9rem;
    width: 100%;
    height: auto;
}

.discover-image img {
    width: 100%;
}

.discover-wrap {
    padding-top: 2.5rem;
    padding-bottom: 2.8rem;
    padding-right: 2.6rem;
    padding-left: 5.3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.counter {
    display: flex;
    justify-content: space-evenly;
    max-width: 6.7rem;
    height: auto;
    margin-left: -.5rem;
    margin-top: 7rem;
}

.counter li {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: #dcdcdc;
}

li.active-dot {
    background-color: #ffc045; 
}

/* reservation part  */

.reservation {
    max-width: 144rem;
    width: 100%;
    height: auto;
}

.reservation-caption {
    max-width: 57.5rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.res-subtitle {
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 2.9rem;
    line-height: 1.6;
    letter-spacing: .17rem;
}

.reservation-caption h3 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 5rem;
    line-height: .9;
    letter-spacing: .3rem;
    text-transform: uppercase;
    margin-top: 2.3rem;
    margin-bottom: 8.9rem;
}

.reservation form {
    max-width: 78.2rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 17.7rem;
    
}
.reservation form input {
    max-width: 37.9rem;
    width: 100%;
    height: 6.5rem;
    box-sizing: border-box;
    margin-bottom: 2.7rem;
    border: .1rem solid #bebebe;
    border-radius: .3rem;
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 2.1rem;
    line-height: 2.2;
    color: #3d3d3d;
    text-transform: uppercase;
    padding-left: 2.3rem;
}

.res-btn {
    box-sizing: border-box;
    max-width: 37.9rem;
    width: 100%;
    height: 6.5rem;
    border: .1rem solid #bebebe;
    border-radius: .3rem;
    cursor: pointer;
    background-color: #bf2222;
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.1rem;
    line-height: 2.2;
    color: #ffffff;
    text-transform: uppercase;
}

.reservation ::placeholder {
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 2.1rem;
    line-height: 2.2;
    color: #3d3d3d;
    text-transform: uppercase;
}

.reservation-burger {
    position: absolute;
    top: 282.8rem;
    left: -2rem;
}

.reservation-sauce {
    position: absolute;
    top: 303.3rem;
    left: 8.1rem;
}

.reservation-plate {
    position: absolute;
    top: 307rem;
    right: 0;
}

/* footer part  */

footer {
    max-width: 132.6rem;
    width: 100%;
    height: auto;
    color: #ffffff;
    background: url(img/footer-bg.png) no-repeat center;
}

.footer-wrap {
    max-width: 125.6rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    padding-top: 8.4rem;
}

.footer-info {
    max-width: 519.6rem;
    width: 50%;
    height: auto;
}

.contacts {
    max-width: 30rem;
    width: 50%;
    height: auto;
    margin-top: 16rem;
    padding-right: 9rem;
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 2.1rem;
    line-height: 1.8;
    text-transform: uppercase;
}

.contacts img {
    margin-right: 3.5rem;
}

.adress, .mail {
    display: flex;
    align-items: center;
}

.adress {
    margin-bottom: .8rem;
}

.info-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    line-height: 1.5;
    margin-top: 4.75rem;
    margin-bottom: 15.34rem;
    padding-right: 8rem;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.2rem;
}

.footer-socials p {
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.social-links {
    max-width: 15.2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}


.attribution {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: #000000;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin: 2rem 0;
}
